---
layout: default
title: Home
---
<div class="posts">
  {% for post in paginator.posts %}
    {% assign sticky = false %}
    {% for cat in post.categories %}
      {% if cat == 'sticky' %}
        {% assign sticky = true %}
        <div class="row">
          <div class="intro cell cell-12 cell-med-10 cell-centre">
            <h1 class="post-title">
              {{ post.title }}
            </h1>
            {{ post.content }}
          </div>
        </div>
      {% endif %}
    {% endfor %}

    <!-- only show the article if it is NOT sticky -->
    {% unless sticky %} 
      <div class="post">
        <h1 class="post-title">
          <a href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a>
        </h1>
        <span class="post-date">{{ post.date | date_to_string }}</span>
        {{ post.content }}
      </div>
    {% endunless %}
  {% endfor %}
</div>

