---
layout: compress
---

<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>
    <div class="wrap">
      <div class="nav-header">
        <nav align="right">
          <a href="{{ site.baseurl }}/about/" title="about">About</a>
        </nav>
      </div>
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>        
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>
    {% include global/analytics.html %}
  </body>
</html>
